---
- name: Configure DNS Server
  hosts: dns-server
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install DNS server tools
      ansible.builtin.apt:
        name:
          - bind9
          - bind9utils
          - bind9-doc
          - dnsutils
        state: present
